*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.log
*.sqlite
*/target/**
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
bin/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
